body {
background-color: rgb(71, 151, 81);
}

.list-group-item {
  line-height: 2.5;
}

th {
  padding: 20px;
}
#header{
  font-family: 'Ultra', serif;
  color: yellow;
  text-shadow: 2px 2px 4px rgb(43, 43, 5);
}

.topper{
  font-family: 'Titillium Web', sans-serif;
  color: white;
}
.options{
  font-family: 'Titillium Web', sans-serif;
  color: white;
}